* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/**** HEADER ****/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8ede3;
  height: 10vh;
  padding: 1rem;
}

img {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}

/**** MAIN ****/
main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-page {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 600px;
  height: 60%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.error-msg {
  color: red;
}

.welcome-page {
  display: none;
  width: 80%;
  max-width: 600px;
}

.sign-out-btn {
  background-color: #3d69e1;
  color: #fff;
  border: none;
  border-radius: 2rem;
  width: 100%;
  padding: 5px;
  margin: 2rem 0;
  height: 2.5rem;
  cursor: pointer;
}

/**** FOOTER ****/

footer {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: #dfd3c3;
}

.footer-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
